/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.sort-buttons {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 2px solid;
  padding-top: 5px;
}

.title-sort-button {
  margin-right: 10px;
  margin-left: 10px;
}

.description-sort-button {
  margin-right: 10px;
  margin-left: 10px;
}

.date-sort-button {
  margin-right: 10px;
  margin-left: 10px;
}

.all-tasks-button {
  margin-right: 10px;
  margin-left: 10px;
}

.filter-box {
  border-bottom: 2px solid;
  padding-bottom: 5px;
  text-align: center;
}

h1 {
  text-align: center;
}

.completed-tasks {
  padding-left: 20px;
}

.create-task {
  text-align: center;
  margin-top: 10px;
}

.sorted-section {
  text-align: center;
}

li {
  list-style-type: none;
}
